<div id="main_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col text-center" style="padding-top: 5px">
                    <span class="text-muted text-uppercase"><i
                            class="fas fa-camera fa-spin"></i> Обрабатываю...</span>
                </div>
            </div>

        </div>
    </div>
</div>
