<div class="align-content-center" style="padding-top: 20px">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><b>X : Y</b></span>
        </div>
        <input type="number" name="x" value=0 max="250" min="-250" class="form-control">
        <input type="number" name="y" value=0 max="250" min="-250" class="form-control">
        <div class="input-group-append">
            <a class="btn btn-outline-secondary" href="#" id="set_servo"><i class="fas fa-compass"></i>
                Выставить</a>

            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id="set_calibration"><i class="fas fa-arrows-alt"></i> Колибровка</a>
            </div>
        </div>
    </div>
</div>

